<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <h4>Life Tracker</h4>
    </div>
    <div class="current-page-title">
      <h5>{{ pageTitle }}</h5>
    </div>
  </div>
  
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of navigationItems">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
  
  <div class="sidebar-footer">
    <div class="user-profile" *ngIf="user">
      <div class="avatar-container">
        <div class="avatar">
          <div class="avatar-initials">{{ getUserInitials() }}</div>
        </div>
      </div>
      <div class="user-info">
        <div class="user-name">{{ user.displayName || user.email }}</div>
        <small class="user-email" *ngIf="user.displayName">{{ user.email }}</small>
      </div>
      <div class="user-controls">
        <app-theme-toggle class="theme-toggle-sidebar"></app-theme-toggle>
        <button class="btn btn-outline-danger logout-btn" (click)="logout()" title="Logout">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
    <div *ngIf="!user">
      <a class="btn btn-outline-primary btn-sm" routerLink="/login">Login</a>
    </div>
  </div>
</div> 