.stats-card .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.stats-card i {
  font-size: 1.5rem;
}

.card {
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.card-subtitle {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .card-body {
    padding: 1rem;
  }
  
  h3.card-title {
    font-size: 1.25rem;
  }
}
